<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BidSearch</title>
    <link rel="stylesheet" href="Style/site.css" asp-append-version="true" />

    <script>
        $(document).ready(function () {
            $("#UserSearch").click(function(){
                $.ajax({
                    type: "GET",
                    url: "https://localhost:7244/bid/GetAllBids",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    headers: { Authorization: "bearer " + localStorage.getItem("token")},
                    success: function(data, textStatus, xhr){
                        console.log(data);
                        $('#BidList').empty();
                        $('#BidList').append('<tr>');
                        $('#BidList').append('<th> Land Id </th>');
                        $('#BidList').append('<th> Expiration Time </th>');
                        $('#BidList').append('<th> User Won </th>');
                        $('#BidList').append('</tr>');

                        $.each( data, function( key, value ) {
                            if (value.expirationTime != null)
                                var expirationDate = new Date(value.expirationTime);
                            $('#BidList').append('<tr>');
                            $('#BidList').append('<td> ' + value.landId + '</td>');
                            if (value.expirationTime != null)
                                $('#BidList').append('<td> ' + expirationDate.getHours() + ':' + expirationDate.getMinutes() + '</td>');
                            else
                                $('#BidList').append('<td> N/A </td>');
                            if (value.userWon != null)
                                $('#BidList').append('<td> ' + value.userWon + '</td>');
                            else
                                $('#BidList').append('<td> No Winner </td>');
                            $('#BidList').append('</tr>');
                        });
                    }
                });
            }),
            $("#ActiveSearch").click(function(){
                $.ajax({
                    type: "GET",
                    url: "https://localhost:7244/api/LandBid/GetAllActiveLandBids",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    headers: { Authorization: "bearer " + localStorage.getItem("token")},
                    success: function(data, textStatus, xhr){
                        console.log(data);
                        $('#BidList').empty();
                        $('#BidList').append('<tr>');
                        $('#BidList').append('<th> Land Id </th>');
                        $('#BidList').append('<th> Expiration Time </th>');
                        $('#BidList').append('<th> User Won </th>');
                        $('#BidList').append('</tr>');

                        $.each( data, function( key, value ) {
                            if (value.expirationTime != null)
                                var expirationDate = new Date(value.expirationTime);
                            $('#BidList').append('<tr>');
                            $('#BidList').append('<td> ' + value.landId + '</td>');
                            if (value.expirationTime != null)
                                $('#BidList').append('<td> ' + expirationDate.getHours() + ':' + expirationDate.getMinutes() + '</td>');
                            else
                                $('#BidList').append('<td> N/A </td>');
                            if (value.userWon != null)
                                $('#BidList').append('<td> ' + value.userWon + '</td>');
                            else
                                $('#BidList').append('<td> No Winner </td>');
                            $('#BidList').append('</tr>');
                        });
                    }
                });
            }),
            $("#InactiveSearch").click(function(){
                $.ajax({
                    type: "GET",
                    url: "https://localhost:7244/api/LandBid/GetAllInActiveLandBids",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    headers: { Authorization: "bearer " + localStorage.getItem("token")},
                    success: function(data, textStatus, xhr){
                        console.log(data);
                        $('#BidList').empty();
                        $('#BidList').append('<tr>');
                        $('#BidList').append('<th> Land Id </th>');
                        $('#BidList').append('<th> Expiration Time </th>');
                        $('#BidList').append('<th> User Won </th>');
                        $('#BidList').append('</tr>');

                        $.each( data, function( key, value ) {
                            if (value.expirationTime != null)
                                var expirationDate = new Date(value.expirationTime);
                            $('#BidList').append('<tr>');
                            $('#BidList').append('<td> ' + value.landId + '</td>');
                            if (value.expirationTime != null)
                                $('#BidList').append('<td> ' + expirationDate.getHours() + ':' + expirationDate.getMinutes() + '</td>');
                            else
                                $('#BidList').append('<td> N/A </td>');
                            if (value.userWon != null)
                                $('#BidList').append('<td> ' + value.userWon + '</td>');
                            else
                                $('#BidList').append('<td> No Winner </td>');
                            $('#BidList').append('</tr>');
                        });
                    }
                });
            }),
            $("#ParticipatedSearch").click(function(){
                $.ajax({
                    type: "GET",
                    url: "https://localhost:7244/api/LandBid/GetAllUserParticipatedLandBids",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    headers: { Authorization: "bearer " + localStorage.getItem("token")},
                    success: function(data, textStatus, xhr){
                        console.log(data);
                        $('#BidList').empty();
                        $('#BidList').append('<tr>');
                        $('#BidList').append('<th> Land Id </th>');
                        $('#BidList').append('<th> Expiration Time </th>');
                        $('#BidList').append('<th> User Won </th>');
                        $('#BidList').append('</tr>');

                        $.each( data, function( key, value ) {
                            if (value.expirationTime != null)
                                var expirationDate = new Date(value.expirationTime);
                            $('#BidList').append('<tr>');
                            $('#BidList').append('<td> ' + value.landId + '</td>');
                            if (value.expirationTime != null)
                                $('#BidList').append('<td> ' + expirationDate.getHours() + ':' + expirationDate.getMinutes() + '</td>');
                            else
                                $('#BidList').append('<td> N/A </td>');
                            if (value.userWon != null)
                                $('#BidList').append('<td> ' + value.userWon + '</td>');
                            else
                                $('#BidList').append('<td> No Winner </td>');
                            $('#BidList').append('</tr>');
                        });
                        
                    },
                    error: function(error){
                        alert("Error: " + error.responseText);
                    }
                });
            })
        });
    </script>

</head>
<body>
    <header>
        The Farming Game - Bid Information
    </header>
    <p>
        
        Bid Information:
    </p>
    <div>
        <input type="text" class="textbox" id="User" name="User" placeholder="UserAlias" />
    </div>
    <div>
        <input type="button" value="UserSearch" name="UserSearch" id="UserSearch" />
    </div>
    <div>
        <input type="text" class="textbox" id="Land" name="Land" placeholder="Land" />
    </div>
    <div>
        <input type="button" value="LandSearch" name="LandSearch" id="LandSearch" />
    </div>
    <div>
        <input type="button" value="Active Bid Search" name="ActiveSearch" id="ActiveSearch" />
    </div>
    <div>
        <input type="button" value="Inactive Bid Search" name="InactiveSearch" id="InactiveSearch" />
    </div>
    <div>
        <input type="button" value="Participated Bid Search" name="ParticipatedSearch" id="ParticipatedSearch" />
    </div>
    <p>
        
    </p>
    <button onclick="window.location.href='Menu.html';">
        Back
    </button>
    <table id="BidList">
    </table>
    
</body>
</html>

