<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
</head>
<body>
    <header>
        The Farming Game - Home
    </header>
    <button onclick="window.location.href='Login.html';">
        Login
    </button>
    <button onclick="window.location.href='Register.html';">
      Register
    </button>
    
</body>
</html>