<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="../Style/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        Welcome to The Farming Game!
    </header>

    <input type="submit" onClick="Register()" value="Register" class="button" />
    <script>
        function Register() {
            window.location.href = "https://localhost:7244/Register";
        }
    </script>
    <input type="submit" onClick="Login()" value="Login" class="button" />
    <script>
        function Login() {
            window.location.href = "https://localhost:7244/Login";
        }
    </script>

</body>
</html>
