<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Items</title>
</head>
<body>
    <header>
        The Farming Game - Items
    </header>
    <table id="UserList">
    </table>
    <p>

        Cost of Protection: 500
        
        Protection Amount:
    </p>
    <div>
        <input type="text" class="textbox" id="Protect" name="Protect" placeholder="Amount" />
    </div>
    <div>
        <input type="button" value="Submit" name="Submit" id="SubmitPurchase" />
    </div>
    <div>
        <p id="Error"></p>
    </div>
    <button onclick="window.location.href='Menu.html';">
        Back
    </button>
    
</body>
</html>

<script>
    $(document).ready(function () {
        $("#SubmitPurchase").click(function(){
                var jsondata = {number: $("#Protect").val()};
                $.ajax({
                    type: "POST",
                    url: "https://localhost:7244/api/User/PurchaseProtection",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    headers: { Authorization: "bearer " + localStorage.getItem("token")},
                    data: JSON.stringify(jsondata),
                    success: function (response) {
                        $('#Protect').val("").delay( 500 );
                        jQuery("#Refresh").trigger();
                    },
                    error: function (jqXHR, options, thrownErr) {
                        if(jqXHR.statusText != 200)
                            $('#Error').text(jqXHR.responseText)
                    }
                });
            });
            $.ajax({
                    type: "GET",
                    url: "https://localhost:7244/api/User/GetCurrentUser",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    headers: { Authorization: "bearer " + localStorage.getItem("token")},
                    success: function(data, textStatus, xhr){
                        console.log(data);
                        $('#UserList').empty();
                        $('#UserList').append('<tr>');
                        $('#UserList').append('<th> Money </th>');
                        $('#UserList').append('<th> Protect Amount </th>');
                        $('#UserList').append('</tr>');

                        $('#UserList').append('<tr>');
                        $('#UserList').append('<td> ' + data.money + '</td>');
                        $('#UserList').append('<td> ' + data.protectAmount + '</td>');
                        $('#UserList').append('</tr>');
                        
                    },
                    error: function(error){
                        alert("Error: " + error.responseText);
                    }
                });
    });
</script>