<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Leaderboard</title>

    <script>
        $(document).ready(function () {
            var counter = 0;
                $.ajax({
                    type: "GET",
                    url: "https://localhost:7244/api/User/Leaderboard",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    headers: { Authorization: "bearer " + localStorage.getItem("token")},
                    success: function(data, textStatus, xhr){
                        counter = 0;
                        console.log(data);
                        $('#Leaderboard').empty();
                        $('#Leaderboard').append('<tr>');
                        $('#Leaderboard').append('<th> Position </th>');
                        $('#Leaderboard').append('<th> Alias </th>');
                        $('#Leaderboard').append('<th> Money </th>');
                        $('#Leaderboard').append('</tr>');

                        $.each( data, function( key, value ) {
                            counter = counter + 1;
                            $('#Leaderboard').append('<tr>');
                            $('#Leaderboard').append('<td> ' + counter + '</td>');
                            $('#Leaderboard').append('<td> ' + value.alias + '</td>');
                            $('#Leaderboard').append('<td> ' + value.money + '</td>');
                            $('#Leaderboard').append('</tr>');
                        });
                        
                    },
                    error: function(error){
                        alert("Error: " + error.responseText);
                    }
                });
        });
    </script>

</head>
<body>
    <header>
        The Farming Game - Leaderboard
    </header>
    <button onclick="window.location.href='Menu.html';">
        Back
    </button>
    <table id="Leaderboard">
    </table>
    
</body>
</html>

