<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="~/Views/Style/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        The Farming Game - Login
    </header>

    
</body>
</html>




@* @section Scripts{
<script>
    $(document).ready(function(){

    $.ajax({   
        type:"GET",
        url: "@Url.Action("GetName")",
        dataType: "json",
        success: function(result){
            console.log(result)
        },
        error: function(request, status, error){
            console.log(status)
        }
    });
    $.ajax({
        type:"POST",
        url: "@Url.Action("PostName")",
        dataType: "json",
        data: {name: "Turtle"},
        success: function(result){
            console.log(result)
        },
        error: function(request, status, error){
            console.log(status)
        }
    });
})
</script>
} *@