<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="~/Views/Style/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        The Farming Game - Login
    </header>
    <div>
        <input type="text" class="textbox" id="User" name="User" placeholder="Username" />
    </div>
    <div>
        <input type="password" class="textbox" id="Pass" name="Pass" placeholder="Password" />
    </div>
    <div>
        <input type="button" value="Submit" name="Submit" id="Submit" />
    </div>
    
</body>
</html>

<script>
    $(document).ready(function () {
        $("#Submit").click(function(){
            $.ajax({
                type: "POST",
                url: "/api/submitLogin",
                contentType: "application/json; charset=utf-8",
                dataType: "json"
            });
        });
    });
</script>