<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Menu</title>
</head>
<body>
    <header>
        The Farming Game - Menu
    </header>
    <button onclick="window.location.href='UserInfo.html';">
        View User Information
    </button>
    <button onclick="window.location.href='LandInfo.html';">
        View Lands
    </button>
    <button onclick="window.location.href='UserLand.html';">
        View Your Lands
    </button>
    <button onclick="window.location.href='Items.html';">
        Purchase Items
    </button>
    <button onclick="window.location.href='Planting.html';">
        View Plant/Harvest
    </button>
    <button onclick="window.location.href='BidSearch.html';">
        View Bid Information
    </button>
    <button onclick="window.location.href='PlaceBid.html';">
        Place Bid
    </button>
    <button onclick="window.location.href='Steal.html';">
        Steal
    </button>
    <button onclick="window.location.href='Leaderboard.html';">
        View Leaderboard
    </button>
    <button onclick="window.location.href='Home.html';">
        Home
    </button>
    
</body>
</html>