<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link rel="stylesheet" href="Style/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        The Farming Game - Register
    </header>
    <div>
        <input type="text" class="textbox" id="User" name="User" placeholder="Username" />
    </div>
    <div>
        <input type="password" class="textbox" id="Pass" name="Pass" placeholder="Password" />
    </div>
    <div>
        <input type="text" class="textbox" id="Alias" name="Alias" placeholder="Alias"/>
    </div>
    <div>
        <p style="color:red;" id="Error"></p>
    </div>
    <div>
        <input type="button" value="Register" name="Register" id="Register" />
    </div>
    <button onclick="window.location.href='Home.html';">
        Back
    </button>

    
</body>
</html>

<script>
    $(document).ready(function () {
        $("#Register").click(function(){
            //var usercreds = '{\"request\": {\"username\": "' + $("#User").val() + '" , \"password\": "' + $("#Pass").val() + '"  , \"alias\": "' + $("#Alias").val() + '"}}';
            var jsondata = {username: $("#User").val(), password: $("#Pass").val(), alias: $("#Alias").val()};
            $.ajax({
                type: "POST",
                url: "https://localhost:7244/api/Authentication/Register",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(jsondata),
                success: function (response) {
                    window.location.href = "Login.html"
                },
                error: function (jqXHR, options, thrownErr) {
                    if(jqXHR.statusText != 200)
                        $('#Error').text(jqXHR.responseText)
                }
            });
        });
    });
</script>