<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Land Information</title>

    <script>
        $(document).ready(function () {
            $("#SubmitSteal").click(function(){
                var jsondata = {landid: $("#LandId").val()};
                $.ajax({
                    type: "POST",
                    url: "https://localhost:7244/api/Land/Steal",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    headers: { Authorization: "bearer " + localStorage.getItem("token")},
                    data: JSON.stringify(jsondata),
                    success: function (response) {
                        $('#PLand').val("");
                        jQuery("#Refresh").trigger();
                    },
                    error: function (jqXHR, options, thrownErr) {
                        if(jqXHR.statusText != 200)
                            $('#Error').text(jqXHR.responseText)
                    }
                });
            });
                $.ajax({
                    type: "GET",
                    url: "https://localhost:7244/api/Land/GetAllLands",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    headers: { Authorization: "bearer " + localStorage.getItem("token")},
                    success: function(data, textStatus, xhr){
                        console.log(data);
                        $('#LandList').empty();
                        $('#LandList').append('<tr>');
                        $('#LandList').append('<th> Id </th>');
                        $('#LandList').append('<th> Alias </th>');
                        $('#LandList').append('<th> Plant </th>');
                        $('#LandList').append('<th> Harvest Time </th>');
                        $('#LandList').append('<th> Is Protected </th>');
                        $('#LandList').append('<th> UserAlias </th>');
                        $('#LandList').append('</tr>');

                        $.each( data, function( key, value ) {
                            if(value.userAlias == null)
                                return;
                            if (value.harvestTime != null)
                                var harvestdate = new Date(value.harvestTime);
                            $('#LandList').append('<tr>');
                            $('#LandList').append('<td> ' + value.id + '</td>');
                            $('#LandList').append('<td> ' + value.alias + '</td>');
                            $('#LandList').append('<td> ' + value.plant + '</td>');
                            if (value.harvestTime != null)
                                $('#LandList').append('<td> ' + harvestdate.getHours() + ':' + harvestdate.getMinutes() + '</td>');
                            else
                                $('#LandList').append('<td> N/A </td>');
                            $('#LandList').append('<td> ' + value.isProtected + '</td>');
                            $('#LandList').append('<td> ' + value.userAlias + '</td>');
                            $('#LandList').append('</tr>');
                        });
                        
                    },
                    error: function(jqXHR, options, thrownErr) {
                        if(jqXHR.statusText != 200)
                        $('#Error').text(jqXHR.responseText)
                    }
                });
        });
    </script>

</head>
<body>
    <header>
        The Farming Game - Steal Information
    </header>
    <p>
        
        Steal Information:
    </p>
    <div>
        <input type="text" class="textbox" id="LandId" name="LandId" placeholder="LandId" />
    </div>
    <div>
        <input type="button" value="Submit" name="Submit" id="SubmitSteal" />
    </div>
    <p>

    </p>
    <div>
        <p id="Error"></p>
    </div>
    <button onclick="window.location.href='Menu.html';">
        Back
    </button>
    <p>

    </p>
    <table id="LandList">
    </table>
    
</body>
</html>

