<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Information</title>

    <script>
        $(document).ready(function () {
            var id = 5;
                $.ajax({
                    type: "GET",
                    url: "https://localhost:7244/api/User/GetCurrentUser",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    headers: { Authorization: "bearer " + localStorage.getItem("token")},
                    success: function(data, textStatus, xhr){
                        console.log(data);
                        $('#UserList').empty();
                        $('#UserList').append('<tr>');
                        $('#UserList').append('<th> Alias </th>');
                        $('#UserList').append('<th> Money </th>');
                        $('#UserList').append('<th> Protect Amount </th>');
                        $('#UserList').append('</tr>');

                        $('#UserList').append('<tr>');
                        $('#UserList').append('<td> ' + data.alias + '</td>');
                        $('#UserList').append('<td> ' + data.money + '</td>');
                        $('#UserList').append('<td> ' + data.protectAmount + '</td>');
                        $('#UserList').append('</tr>');
                        
                    },
                    error: function(error){
                        alert("Error: " + error.responseText);
                    }
                });
        });
    </script>

</head>
<body>
    <header>
        The Farming Game - User Information
    </header>
    <p>
        Your User Information:
    </p>
    <table id="UserList">
    </table>
    <p>

    </p>
    <button onclick="window.location.href='Menu.html';">
        Back
    </button>
    
</body>
</html>

