<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="~/Views/Style/site.css" asp-append-version="true" />

    <script>
        $(document).ready(function () {
            $.ajax({
                type: "GET",
                url: "https://localhost:7244/api/Land/GetCurrentUserLands",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                headers: { Authorization: "bearer " + localStorage.getItem("token")},
                success: function(data, textStatus, xhr){
                        console.log(data);
                        $('#LandList').empty();
                        $('#LandList').append('<tr>');
                        $('#LandList').append('<th> Id </th>');
                        $('#LandList').append('<th> Alias </th>');
                        $('#LandList').append('<th> Plant </th>');
                        $('#LandList').append('<th> Harvest Time </th>');
                        $('#LandList').append('<th> Is Protected </th>');
                        $('#LandList').append('<th> UserAlias </th>');
                        $('#LandList').append('<th> Bid Time </th>');
                        $('#LandList').append('</tr>');

                        $.each( data, function( key, value ) {
                            $('#LandList').append('<tr>');
                            $('#LandList').append('<td> ' + value.id + '</td>');
                            $('#LandList').append('<td> ' + value.alias + '</td>');
                            $('#LandList').append('<td> ' + value.plant + '</td>');
                            $('#LandList').append('<td> ' + value.harvestTime + '</td>');
                            $('#LandList').append('<td> ' + value.isProtected + '</td>');
                            $('#LandList').append('<td> ' + value.useralias + '</td>');
                            $('#LandList').append('<td> ' + value.bidtime + '</td>');
                            $('#LandList').append('</tr>');
                        });
                    }
            });
        });
    </script>

</head>
<body>
    <header>
        The Farming Game - Your Lands
    </header>
    <p>
        Your Lands:
    </p>
    <table id="LandList">
    <p>

    </p>
    <button onclick="window.location.href='Menu.html';">
        Back
    </button>
    
</body>
</html>

