<script src="~/lib/jquery/dist/jquery.min.js"></script>   
  
  
<div class="panel panel-primary">  
    <div class="panel-heading">  
        Test Data from API  
    </div>   <!--en dof panel-heading -->
    <div class="panel-body">  
        <table class="table table-bordered" id="Table">  
            <tr>  
                <th>Id</th>  
                <th>UserName</th>  
                <th>Password</th>  
                <th>Alias</th>  
                <th>Money</th>  
            </tr>   <!--end of table-row -->
        </table>   <!--end of table -->
    </div> <!--end of Panel-body -->      
</div> <!--end of Panel --> 

<script>  
    $(document).ready(function () {  
        $.ajax({  
            type: "GET",  
            url: "/api/StudentAPI/GetAllUsers",  
            contentType: "application/json; charset=utf-8",  
            dataType: "json",  
            success: function (data) {  
                //alert(JSON.stringify(data));                  
                $("#DIV").html('');   
                var DIV = '';  
                $.each(data, function (i, item) {  
                    var rows = "<tr>" +  
                        "<td id='Id'>" + item.Id + "</td>" +  
                        "<td id='UserName'>" + item.UserName + "</td>" +  
                        "<td id='Password'>" + item.Password + "</td>" +  
                        "<td id='Alias'>" + item.Alias + "</td>" +  
                        "<td id='Money'>" + item.Money + "</td>" +  
                        "</tr>";  
                    $('#Table').append(rows);  
                }); //End of foreach Loop   
                console.log(data);  
            }, //End of AJAX Success function  
  
            failure: function (data) {  
                alert(data.responseText);  
            }, //End of AJAX failure function  
            error: function (data) {  
                alert(data.responseText);  
            } //End of AJAX error function  
  
        });         
    });  
</script>  